* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #ffffff;
  background-color: rgb(35, 35, 35);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.game {
  width: 450px;
  margin: 0 auto;
}

.game_interface {
  position: fixed;
  padding: 2rem 0;
  background-color: rgba(35, 35, 35, 0.7);
  width: 350px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
}

.game_interface form {
  width: 200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.game_interface button {
  cursor: pointer;
  margin-top: 1rem;
  border: none;
  background-color:#ba3d3d;;
  width: 200px;
  height: 50px;
  font-size: 28px;
  font-weight: 900;
  color: #ffffff;
  transition: filter 0.1s ease;
}

.game_interface button:hover {
  filter: brightness(125%);
}

.game_interface button:active {
  filter: brightness(150%);
}

.game_interface ul {
  margin: 1rem 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

#game_repeat {
  display: none;
}

#game_repeat button {
  background-color: #4ca832;
}

.game_interface-name {
  width: 100%;
  font-size: 28px;
  display: flex;
}

.game_interface-name input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ffffff;
  background: none;
  font-size: 22px;
  color: #ffffff;
}

.game_indicators {
  display: flex;
  align-items: baseline;
}

.game_indicators-item {
  margin-right: 1rem;
}
